@font-face {
    font-family: FontGoogle;
    src: url('../Work_Sans/WorkSans-VariableFont_wght.ttf');
}

* {
    font-family: FontGoogle;
    margin: 0;
}

main{
    text-align: left;
    width: 70%;
    margin: 0 auto;
}

article > footer{
    margin-top: 2%;
    font-size: 10.5px;
 }

 article > footer > a{
    text-decoration: none;
    color: #942C0B;
    border-bottom: 1px dotted currentColor;
 }

 article > footer > a:hover{
    text-decoration: none;
    color: #942C0B;
    border-bottom: 1px solid currentColor;
 }

#footer_index > p {
    font-size: 0.8em;
}

#footer_index > ul {
    margin-bottom: 1%;
}

#footer_index > ul > li {
    display: inline;
    padding-right: 1em;
    font-size: 1.1em;
}

#footer_index a {
    text-decoration: none;
    color: white;
}

#footer_index a:hover {
    text-decoration: none;
    color: #6BDEC8;
    border-bottom: solid 2px;
}

#index {
    max-width: 100vw;
    max-height: 100vh;
    overflow: auto;
    text-align: center;
    background-image: url('../img/home-hero.jpg');
    background-color: black;
    /* Usado si la imagen no existe */
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#index nav ul {
    margin-top: 2%;
    list-style: none;
    text-align: center;
    font-size: 1.3em;
    word-spacing: 20px;
}

#index nav ul li {
    display: inline;
}

#index main {
    width: 100%;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 13%;
}

#index figcaption {
    font-size: 9em;
    font-weight: 700;
    letter-spacing: -10px;

}

#index main p {
    font-size: 2.3em;
    font-weight: 700;
    letter-spacing: 7px;
    position: relative;
    top: -1em;
}



p a, label a {
    text-decoration: none;
    color: #942C0B;
    border-bottom: dotted 1px #942C0B;
}

p a:hover, label a:hover {
    text-decoration: none;
    color: #942C0B;
    border-bottom: solid 1px #942C0B;
}
body > header{
    background-color: #000000;
    padding-top: 2%;
    padding-bottom: 3%;
}

body > header > ul{
    list-style: none;
    text-align: center;
}

body > header > ul > li{
    color: #FFFFFF;
    display: inline;
    font-size: 1.7em;
    font-weight: 700;
    letter-spacing: -2px;
}

body > header > ul > li > img{
    width: 3vh;
}

nav > ul{
    margin-top: 1%;
    list-style: none;
    text-align: center;
    word-spacing: 50px;
}
 nav > ul > li{
    display: inline;
 }

 nav > ul > li > a{
    color: #FFFFFF;
    text-decoration: none;
 }

 nav > ul > li > a:hover{
    color: #6BDEC8;
    border-bottom: solid 2px currentColor;
 }

 article > header > h1{
    text-align: center;
    margin-top: 4%;
    margin-bottom: 2%;
    font-weight: 700;
 }
 .header_cursos > h1{
    text-align: center;
    margin-top: 4%;
    font-weight: 700;
    font-size: 1.8em;
 }
 .header_cursos > p{
    text-align: center;
    margin-bottom: 4%;
    font-weight: 700;
    font-size :2.8em;
 }

 figure > figcaption{
    font-size: 0.7em;
 }

 figure > figcaption > a{
    text-decoration: none;
    color: #942C0B;
    border-bottom: dotted 1px #942C0B;
 }

 figure > figcaption > a:hover{
    text-decoration: none;
    color: #942C0B;
    border-bottom: solid 1px #942C0B;
 }

 article > section{
    margin-top: 3%;
 }
 
 article > section >p{
    margin-top: 2%;
    font-weight: 400;
 }

 section > dl > dt{
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 4%;
    font-weight: 700;
 }

 section > dl > dd{
    margin-left: 7%;
 }

 body > footer:not(#footer_index){
    margin-top: 5%;
    background-color: #000000;
 }

 body > footer:not(#footer_index) > p{
    color: #FFFFFF;
    padding-bottom: 3%;
    width: 70%;
    margin: 30px auto;
 }

 body > footer:not(#footer_index) > ul{
    text-align: left;
    width: 73%;
    padding-top: 1%;
    margin-bottom: 1%;
    list-style: none;
    margin: 0 auto;
 }

 body > footer:not(#footer_index) > ul >li{
    display: inline;
    margin-right: 50px;
 }
 

 body > footer a{
    color: #FFFFFF;
    text-decoration: none;
 }

 body > footer a:hover{
    color: #6BDEC8;
    text-decoration: none;
    border-bottom: 2px solid currentColor;
 }

 table:not(#tabla_formulario){
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
    margin-top: 3%;
    width: 100%;
 }
thead > tr:first-child{
    text-align: center;
    font-size: 1.3em;
}

 tr{
    height: 40px;
 }

.pintado{
    background-color: #6BDEC8;
 }

td{
    border-bottom: 1px solid black;
 }
 tr > td:last-child{
    font-size: 12px;
 }

 figure:not(#index figure){
    margin-left: 13%;
    margin-bottom: 4%;
 }

 figure > img:not(#index img){
    height: 60vh;
    width: 93vh;
 }

 figure > iframe{
    width: 93vh;
    height: 50vh;
    margin-top: 5%;
 }

 #informacion_cursos{
    margin-left: 13%;
    margin-right: 9%;
    line-height: 40px;
    font-size: 1.8em;
 }
 
#tabla_formulario{
    width: 100%;
 }
 #tabla_formulario td{
   border: 0px;
   font-size: 1em;
 }

 #tabla_formulario input{
   width: 97%;
   height: 25px;
 }

 fieldset{
   margin-bottom: 3%;
 }

 fieldset > fieldset
 {
   margin-top: 30px;
   margin-bottom: 20px;
 }

fieldset > fieldset> *{
   margin-top: 15px;
   margin-bottom: 15px;
}

 textarea{
   margin-top: 2%;
   width: 99%;
   height: 200px;
 }

 #transferencia, #tarjeta, #efectivo{
   margin-top: 20px;
   margin-bottom: 20px;
 }

 #inscribirse{
   margin-top: 2%;
   color: #FFFFFF;
   background-color: #942C0B;
   font-size: 1em;
   width: 130px;
   height: 50px;
 }

 #formulario_cursos, #header_formulario{
   margin: 0 6% 0 6%;
 }

